RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cosmoveda.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://cosmoveda.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://goayachtworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://goayachtworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://localgoakayaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://localgoakayaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://localgoakayaking.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://localgoakayaking.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovelycruisegoa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovelycruisegoa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovelycruisegoa.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://lovelycruisegoa.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oyebill.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oyebill.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oyebill.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://oyebill.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.cosmoveda.co.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://test.cosmoveda.co.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://testgoayachtworld.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://testgoayachtworld.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vip-arcade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vip-arcade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vip-arcade.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://vip-arcade.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cosmoveda.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.cosmoveda.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.goayachtworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.goayachtworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.localgoakayaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.localgoakayaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.localgoakayaking.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.localgoakayaking.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovelycruisegoa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovelycruisegoa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovelycruisegoa.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.lovelycruisegoa.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oyebill.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oyebill.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oyebill.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.oyebill.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.cosmoveda.co.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.test.cosmoveda.co.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.testgoayachtworld.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.testgoayachtworld.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vip-arcade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vip-arcade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vip-arcade.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.vip-arcade.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cosmoveda.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://cosmoveda.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://goayachtworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://goayachtworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://localgoakayaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://localgoakayaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://localgoakayaking.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://localgoakayaking.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovelycruisegoa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovelycruisegoa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovelycruisegoa.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://lovelycruisegoa.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://oyebill.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://oyebill.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://oyebill.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://oyebill.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.cosmoveda.co.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://test.cosmoveda.co.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://testgoayachtworld.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://testgoayachtworld.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vip-arcade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vip-arcade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vip-arcade.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://vip-arcade.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cosmoveda.co.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.cosmoveda.co.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.goayachtworld.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.goayachtworld.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.localgoakayaking.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.localgoakayaking.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.localgoakayaking.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.localgoakayaking.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovelycruisegoa.in/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovelycruisegoa.in$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovelycruisegoa.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.lovelycruisegoa.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.oyebill.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.oyebill.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.oyebill.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.oyebill.com.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.cosmoveda.co.in.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.test.cosmoveda.co.in.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.testgoayachtworld.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.testgoayachtworld.b2bgoa.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vip-arcade.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vip-arcade.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vip-arcade.com.b2bgoa.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.vip-arcade.com.b2bgoa.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

